{% extends 'tlion/base.html' %}
{% block title %}
    <title>编写文章</title>
{% endblock %}
{% block h1 %}
    <a href="{% url 'tlion:index' %}"><h1>回到主页</h1></a>
{% endblock %}
{% block main %}
    <form action="{% url 'tlion:modify_action' %}" method="post" class="comment-form">
    {% csrf_token %}
            <input type="hidden" name="article_id" value="{{ article.id }}">
        <div class="col-md-6">
            <input name="title" class="title" value="{{ article.title }}">
        </div>
        <br>
        <div class="col-md-12">
            <label>文章内容：<br>
                <textarea name="content" cols="100" rows="20" placeholder="请输入内容.....">{{ article.content }}</textarea>
            </label><br>
            <select name="select">
                <option value="p">publish mode</option>
                <option value="d">draft mode</option>
            </select>
            <button name="submit" class="button"><span>提交</span></button>
        </div>
    </form>
{% endblock %}